@{
    ViewData["Title"] = "Home Page";
}
@TempData["Singleton"]
@TempData["Singleton2"]
@TempData["Trasient"]
@TempData["Trasient2"]
@TempData["Scope"]
@TempData["Scope2"]
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="https://aka-cdn.uce.edu.ec/ares/tmp/logo3.png" />
</div>
